* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4CAF50; /* Change to your preferred color */
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50; /* Or any color you prefer */
  padding: 0.5rem 1rem;
}

.navbar .nav-links {
  margin-left: auto; /* This will push the nav links to the right */
  display: flex;
  align-items: center;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar .logo {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.main-content {
  padding: 1rem;
}

.intro-section,
.tutorial-links {
  margin: 1rem 0;
}

.footer {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  text-align: center;
}

.major-requirements{
  max-width: fit-content;
  margin-inline: auto;
  padding: 0.5rem;
  margin-top: 5%;
}

.major-requirements select{
  top: auto;
  max-width: fit-content;
  margin-inline: auto;
  padding: 0.5rem;

}

.course-card {
  border: 1px solid #ccc;
  margin: 1rem;
  padding: 1rem;
}